{% extends "startinterface/wrapper.html" %}
{% load staticfiles %}

{% block menu %}
	<li class="active"><a href={% url 'SelectStatus' %}>Аctive</a></li>
    <li><a href={% url 'CompletedVoiting' %}>Сompleted</a></li>
{% endblock %}
{% block form %}
	<section class="banner" id="home">
		<div class="container">
			<div class="row">
			    {% for i in modelvoice %}
				    
				    <div class="col-xs-12 wow fadeInLeft ">
					    
					    <h1>
					    <img src=  "../{{ i.photo.url }}" >
					    {{i.name}}
                        
                        
                        </h1>
				    </div>
				    <div class="col-xs-12 wow fadeInLeft ">

				        <form method="post" action={% url 'Handler' %}>{%csrf_token%}
				        	<input type="hidden" name="nameVoice" value={{nameVoice}} />
  							<input type="hidden" name="person" value={{i.name|force_escape}} />
				        
    						<button type="submit">Voice</button>
					    </form>
					</div>	
				{%endfor%}
				
			</div>
		</div>
	</section>

{% endblock %}