{% extends "startinterface/wrapper.html" %}
{% load staticfiles %}

{% block menu %}
	<li ><a href={% url 'SelectStatus' %}>Аctive</a></li>
    <li class="active"><a href={% url 'CompletedVoiting' %}>Сompleted</a></li>
{% endblock %}
{% block form %}
	<table class="table table-bordered">
  		<thead >
    		<tr bgcolor="#d9ccff">
      			<th scope="col">#</th>
      			<th scope="col">Name</th>
      			<th scope="col">Voice</th>
      			
    		</tr>
  		</thead>
  		<tbody>
  			{% for i in personevoice %}
  				{% if forloop.first %}
                
  				<tr bgcolor="#00FF00">
  				{% else %}
  				<tr bgcolor="#FFFFFF">
  				{% endif %}
      				<th scope="row">{{forloop.counter}}</th>
      				<td>{{i.person.user.username}}</td>
      				<td>{{i.changeVoice}}</td>
      				
    			</tr>
  			{% endfor %}
  		</tbody>
	</table>
			<!--{% for i in personevoice %}
				  {% if forloop.first %}
				    	<div class="bg-success text-white">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</div>
					{% else %}
						<div class="col-xs-12 wow fadeInLeft ">
					    
					    	<h1>
					    
					    		{{i.person}}    {{i.changeVoice}}
                        
                                
                        	</h1>
				    	</div>
					{% endif %}
					
				{%endfor%}-->
				
			

{% endblock %}