{% extends "startinterface/wrapper.html" %}
{% load staticfiles %}

{% block menu %}
	<li ><a href={% url 'SelectStatus' %}>Аctive</a></li>
    <li class="active"><a href={% url 'CompletedVoiting' %}>Сompleted</a></li>
{% endblock %}
{% block form %}
	<section class="banner" id="home">
		<div class="container">
			<div class="row">
			    {% for i in modelvoice %}
				    <div class="col-xs-12 wow fadeInLeft ">
					    <h1><a href= {% url 'DetaleCompleted' %}?id={{i.id_name}}>{{i.nameVoice}}</a></h1>		
					    
				    </div>
				{%endfor%}
				
			</div>
		</div>
	</section>

{% endblock %}